/*=============================================================================================================================*/
/*UNIVERSAL STYLING*/
/*=============================================================================================================================*/
body {
    padding: 0px;
    margin: 0px;
    border: 0px;
    /*=============================================================================================================================*/
    /* GOOGLE FONT HERE*/
    /*=============================================================================================================================*/
    font-family: 'Patrick Hand SC', cursive;
    font-size: 24px;
}


a {
    text-decoration: none;
    color: black;
    padding: 10px;
}

/* HOVER LINK EFFECT*/
a:hover {
    border: 4px solid yellow;
    border-radius: 10px;
    padding: 6px;
}

main {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: black;
    border-width: 0 4px 4px 4px;
}

/*=============================================================================================================================*/
/*HEADER*/
/*=============================================================================================================================*/
.title {
    padding: 8px;
    /* IMPORTANT*/
    /* PADDING LEFT IS 16PX*/
    padding-left: 16px;
    font-size: 48px;
    font-weight: 700;
}

header {
    display: flex;
    justify-content: space-between;
    border: 4px solid black;
    background-color: rgb(182, 182, 182);
    padding: 10px 10px 10px 20px;
    /* TOP RIGHT BOTTOM LEFT*/
}

.navigation {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 16px;
}

/*=============================================================================================================================*/
/*MAIN CONTENT THAT NEEDS TO BE CHANGED*/
/*=============================================================================================================================*/


img {
    width: 500px;
}

.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

p {
    width: 500px;
}

.finley,
.tank,
.gordon,
.perry,
.sweetpea,
.dumpwing {
    padding: 10px 0px 10px 16px;
}

.mochi,
.walt,
.mrbananaman,
.babs,
.parker {
    padding: 10px 16px 10px 0px;
    border-top: 4px solid black;
}

.tank,
.gordon,
.perry,
.sweetpea,
.dumpwing {
    border-top: 4px solid black;
}

.finley {
    background-color: rgb(45, 45, 255);
}

.mochi {
    background-color: orange;
}

.tank {
    background-color: #675647;
}

.walt {
    background-color: darkgreen;
}

.gordon {
    background-color: darkred;
}

.mrbananaman {
    background-color: yellow;
}

.perry {
    background-color: aqua;
}

.babs {
    background-color: rgb(134, 134, 255);
}

.sweetpea {
    background-color: rgb(96, 176, 96);
}

.parker {
    background-color: rgb(250, 63, 63);
}

.dumpwing {
    background-color: pink;
}